/* 

    index.css | help | YDITS for Web

    (c) YDITS, よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

main {
    padding: 0;
    min-height: 100vh;
}


#main {
    padding: 2em 10vw;
}

#pageTitle {
    display: flex;
    justify-content: center;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em 0;
}

#links .link {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;

    width: 60vw;
    height: 4em;
    border-radius: .5em;

    background-color: #c0c0ff;
    color: #010101;
    text-decoration: none;
    font-size: 1.5em;
}

#links .link:hover {
    background-color: #c0c0ffa0;
}

@media (max-width: 511px) {
    #links .link {
        width: 75vw;
        font-size: 1.2em;
    }
}