/* 

    index.css | help/support-browser | YDITS for Web

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

main>.content {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

main>.content>.description {
    margin-bottom: 1rem;
}

main>.content>section {
    margin-bottom: 3rem;
}

main>.content>section>h3 {
    display: flex;
    margin-bottom: 1em;
}

main>.content>section>h3::before {
    display: block;
    width: 4px;
    height: auto;
    margin-right: 1em;
    border-radius: 2px;
    background-color: #ffffffff;
    content: "";
}

main>.content ul {
    padding-left: 2rem;
}

main>.content ul>li {
    margin: 2rem 0;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    main {
        width: calc(100% - 20vw);
        padding-left: 10vw;
        padding-right: 10vw;
    }
}