/*

    main.css | noscript | YDITS for Web

    (c) よね/Yone 

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

main {
    width: calc(100% - 20vw);
    padding: 2rem 10vw;
    text-align: center;
}

main>noscript {
    display: block;
    margin-bottom: 2rem;
}

#pageTitle {
    font-size: 1.5rem;
    margin-bottom: .5em;
}
