/* main.css / noscript / YDITS for Web / Yone */
@charset "UTF-8";
/* ----- Elements ----- */
main {
  text-align: center;
}

main .pageTitle {
  margin-bottom: .5em;
}

main p {
  margin-bottom: .5em;
}