/*

    index.css | sorry | YDITS for Web

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

main {
    width: calc(100% - 20vw);
    padding: 10em 10vw;
}

#icon {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 8em;
}

#text {
    text-align: center;
    font-size: 3em;
}

@media (max-width: 769px) {
    #icon {
        font-size: 5em;
    }

    #text {
        font-size: 2em;
    }
}