/* 404.css / HTTP 404 / YDITS for Web  Ver β / Yone */
@charset "UTF-8";
/* ----- Main ----- */
main {
  position: fixed;
  top: 6vh;
  left: 1vw;
  display: block;
  width: 98vw;
  height: 92vh;
  text-align: center;
  background-color: #fff;
}

main div {
  padding: 5em 0;
}
