/* 

    YDITS for Web

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

main {
    display: flex;
    height: calc(100vh - 2em - 2px);
    overflow: hidden;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 3rem;
    height: 100%;
    background-color: #202020;
}

#list ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;

}

#list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 8px 0;
    padding: 8px 0;
}

#list ul li:hover {
    background-color: rgba(255, 255, 255, .5);
}

#eqHistoryBtn {
    display: none !important;
}

#control {
    display: flex;
    width: 35rem;
    height: 100%;
    background-color: #303030;
    border-bottom: 2px solid #808080;
    transition: all .5s;
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#eewField {
    width: calc(100% - 1em);
    height: calc(14em - 1em);
    padding: .5em;
    background-color: #404040;
}

#eewTitle {
    display: block;
    padding-bottom: .5em;
    font-size: 1.2em;
}

#eewField .content {
    display: flex;
    width: calc(100% - 1em);
    height: calc(100% - 3.4em);
    padding: .5em;
    background-color: rgba(40, 40, 40, .3);
}

#eewField .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
}

#eewCalc {
    width: 7rem;
    height: 7rem;
    border-radius: 0.1em;
    text-align: center;
    font-size: 4.5rem;
    color: #ffffffff;
}


#eewField .left .title {
    display: block;
}

#eewField .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

#eewInfo {
    display: flex;
    flex-direction: column;
}

#eewOrigin_time {
    font-size: 1.2em;
}

#eewInfo .eqinfo {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

#eewRegion {
    font-size: 1.5em;
}

#eewText {
    padding: .2em;
    background-color: rgb(40, 40, 40);
    border-radius: .5em;
}

#eqHistoryField {
    width: 100%;
    height: calc(100%);
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: auto;
}

#eqHistoryField .list {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

    width: calc(100% - 2rem);
    padding: .5rem 1rem;

    cursor: pointer;
    transition: all .3s;
}

#eqHistoryField .list:hover {
    background-color: #ffffff40;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#eqHistoryField .list>* {
    margin-left: 1rem;
    margin-right: 1rem;
}

#eqHistoryField .list .maxScale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .2em;
    font-size: 2.75rem;
}

#eqHistoryField .list .right {
    width: calc(100% - 8rem);
    height: 100%;
}

#eqHistoryField .hypoInfo {
    display: flex;
    justify-content: space-between;
}

#eqHistoryField .hypoInfo p {
    margin-right: 2em;
}

#eqHistoryField p.hypocenter {
    font-size: 1.2rem;
    transition: all .3s;
}

#eqHistoryField .list:hover p.hypocenter {
    font-size: 1.3rem;
}

#mapWrapper {
    position: relative;
    width: calc(100vw - 35em);
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#clock {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 10rem;
    padding: .2rem;
    text-align: center;
    background-color: #202020;
    font-size: 1rem;
    z-index: 1;
}

#status {
    position: absolute;
    top: 0;
    left: calc(10rem + .4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.85rem;
    height: 1.85rem;
    background-color: #202020;
    z-index: 1;
}

#statusLamp {
    display: inline-block;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: #808080;
    z-index: 1;
}

#popup {
    display: block;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 2rem);
    background-color: #101010c0;
    /* background-color: rgba(40, 40, 40, .75); */
    z-index: 1;
}

#popup.active {
    top: 2rem;
}

.window {
    position: fixed;
    top: 100vh;
    left: 0;
    display: block;
    width: calc(100%);
    height: calc(100% - 2rem);
    /* padding: 1em; */
    overflow: auto;
    background-color: #202020ff;
    color: #ffffffff;

    transition: all .3s;
}

.window .closeBtn {
    position: absolute;
    top: .75rem;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    font-size: 1.75rem;
}

.window .closeBtn:hover {
    background-color: rgba(127, 127, 127, .9);
}

.window>.titleBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010ff;
    height: 4rem;
}

.window>.titleBar>.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: calc(100% - 4rem);
    max-width: 769px;
}

.window .title {
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.window>.content {
    height: calc(100vh - 2rem - 4rem - 4rem);
    padding: 2rem 5%;
    overflow: auto;
}

#menu.active {
    top: 2rem;
}

.window .lists {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
    text-decoration: none;
}

.window .lists a {
    text-decoration: none;
}

.window .lists .list {
    display: flex;
    align-items: center;
    /* margin-bottom: 2em; */
    width: 80%;
    height: 2rem;
    border-bottom: solid 1px #505050ff;
    /* border-radius: 2rem; */
    padding: 1.2rem 2rem;
    background-color: rgba(127, 127, 127, .3);
}

.window .lists .list.top {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.window .lists .list.bottom {
    border: none;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.window .lists .list:hover {
    background-color: rgba(127, 127, 127, .9);
}

.window .lists .list span {
    margin-right: 2rem;
}

#jmaDataFeed {
    top: 2rem;
    left: 100vw;
}

#jmaDataFeed.active {
    left: 0;
}

#jmaDataFeedEqvol {
    top: 2rem;
    left: 100vw;
}

#jmaDataFeedEqvol.active {
    left: 0;
}

#jmaDataFeedEqvolLong {
    top: 2rem;
    left: 100vw;
}

#jmaDataFeedEqvolLong.active {
    left: 0;
}

#jmaDataFeedEqvol>.titleBar>.title,
#jmaDataFeedEqvolLong>.titleBar>.title {
    font-size: 1rem;
}

#jmaDataFeedEqvol .title,
#jmaDataFeedEqvolLong .title {
    text-align: left;
}

#jmaDataFeedEqvolList,
#jmaDataFeedEqvolLongList {
    list-style: none;
}


#settings {
    top: 2rem;
    left: 100vw;
}

#settings.active {
    left: 0;
}

.window.settings_list {
    height: 100%;
    overflow: auto;
}

.window.settings_list>label {
    font-size: 1.3em;
}

.window.settings_list .list>label {
    font-size: 1rem;
}

.window.settings_list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: .5rem 0;
    border-radius: 1.7rem;
    padding: .7rem;
    background-color: #404040ff;
}

.window.settings_list .item h3 {
    font-size: 1.2rem;
}

.window.settings_list .item>.content {
    display: flex;
    padding: 0 1rem;
}

.window .version {
    text-align: center;
}

.window .list label {
    display: block;
    padding: .5em;
}

.window button {
    text-align: left;
    display: block;
    margin: .5rem 0;
    border: none;
    border-radius: 2rem;
    padding: 1.2rem;
    width: 100%;
    background-color: #404040ff;
    color: #ffffffff;

    cursor: pointer;
}

.window button:hover {
    background-color: #707070ff;
}

.window select {
    display: block;
    border: none;
    padding: .5rem;
    border-radius: 2rem;
    background-color: #303030ff;
    color: #ffffffff;
}

.window.settings_list {
    top: 2rem;
    left: 100vw;
}

.window.settings_list.active {
    left: 0;
}

/* #settings_playSound_eew {
    padding: 1em 0;
}

#settings_playSound_eqinfo {
    padding: 2em 0;
} */

#settings_playSound .sectionTitle {
    display: block;
}

#settings_getTypes div {
    padding: .5em;
}

#settings_getTypes label {
    display: inline !important;
}

#debugLogLists {
    padding: 2rem 0;
    font-family: monospace;
    list-style: none;
}

#debugLogLists>li {
    margin-bottom: 1rem;
}

#debugLogLists .title {
    text-align: left;
    font-size: 1rem;
}

#debugLogLists .text {
    text-align: left;
    font-size: .9rem;
}

#license.active {
    top: 2rem;
}

#license>.content a {
    color: #c0c0f0;
    text-decoration: underline;
}

#copyrights>ul>li {
    padding: 1em 0;
}

#copyrights>ul>li>h3 {
    margin-bottom: .5em;
}

#copyrights>ul>li>p {
    padding-left: 1em;
}

@media (max-width: 769px) {
    main {
        flex-direction: column;
    }

    #eqHistoryBtn {
        display: flex !important;
    }

    #control {
        display: flex;
        width: 100vw;
        height: 14em;
    }

    #map {
        width: 100vw;
    }

    #eqHistoryField {
        display: none;
    }

    #control.mobile {
        height: 100%;
    }

    #eqHistoryField.mobile {
        display: block;
    }

    #map.mobile {
        display: none;
    }

    #settings>.wrapper {
        flex-direction: column;
    }

    #settings .settings_list {
        width: 100%;
    }

    #settings_lists {
        width: calc(100% - 2em);
    }

    #settings_lists ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #settings_lists li {
        width: 15%;
        text-align: center;
    }
}

@media (max-width: 384px) {

    html,
    body {
        font-size: 11px;
    }
}