/* ui.css / YDITS for Web  Ver 1.4.1 / Yone */
/* ----- Main ----- */
/* --- Dialog --- */
.window {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: .8em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-color: #fff;
}

.window .navBar {
  height: 2em;
  overflow: hidden;
  background-color: #eee;
}

.window .navBar .title {
  height: 1.4rem;
  overflow: hidden;
  padding: .2em .4em;
}

.window .navBar .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.4rem;
  overflow: hidden;
  padding: .2em .4em;
  cursor: pointer
}

.window .navBar .close:hover {
  background-color: #ccc;
}

.window .content {
  overflow: auto;
}

/* --- Toggle switch --- */
.toggle-switch {
  display: inline-block;

  width: 64px;
  height: 32px;
  border-radius: 1em;

  background-color: #7f7f7f;
  cursor: pointer;

  transition: all .2s;
}

.toggle-switch>.span {
  position: relative;
  top: 4px;
  left: 6px;
  display: inline-block;
  
  height: 24px;
  width: 24px;
  border-radius: 1em;

  background-color: #fff;

  transition: all .2s;
}

.toggle-switch.on {
  background-color: #20ff20;
}

.toggle-switch.on>.span {
  left: 34px;
}
