/* 

    ui.css | YDITS for Web

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

/* ----- Dialog ----- */
.dialog {
    position: fixed;
    top: calc(50vh - 24em);
    /* top: 20vh; */
    /* bottom: 20vh; */
    left: 0;
    /* left: 20vh; */
    /* right: 20vh; */
    display: block;

    margin: auto;
    width: 32em;
    height: 48em;
    border: 0;
    border-radius: .8em;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);

    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #010101;

    z-index: 10;
}

.dialog .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 2em;

    overflow: hidden;
    background-color: #e0e0e0;
}

.dialog .navBar .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 2em;

    overflow: hidden;
}

.dialog .navBar .close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    width: 2em;
    height: 1.1em;
    overflow: hidden;

    cursor: pointer
}

.dialog .navBar .close:hover {
    background-color: rgba(0, 0, 0, .2);
}

.dialog .content {
    overflow: auto;
}

@media (max-width: 769px) {
    .dialog {
        position: fixed;
        top: 4vh;
        left: 2vw;
        margin: 0;
        width: 96vw;
        height: 92vh;
    }
}

/* ----- Toggle switch ----- */
.toggle-switch {
    display: inline-flex;
    align-items: center;

    /* display: inline-block; */

    width: 52px;
    height: 26px;
    border-radius: 2em;

    background-color: #7f7f7f;
    cursor: pointer;

    transition: all .2s;
}

.toggle-switch>.span {
    position: relative;
    left: 0px;

    display: inline-block;

    height: 30px;
    width: 30px;
    border-radius: 15px;

    background-color: #fff;

    transition: all .2s;
}

.toggle-switch.on {
    background-color: #4040ffff;
}

.toggle-switch.on>.span {
    left: 22px;
}