/* 

    ui.css | YDITS for Web

    (c) よね/Yone

    No modification or reproduction of any kind is permitted.
    改変や複製を一切禁じます。

*/
@charset "UTF-8";

/* ----- Button ----- */
.button {
    display: inline-block;
    border: solid 1px #ffffffff;
    border-radius: 2rem;
    padding: 1rem;
    background-color: #00000000;
    font-size: 1rem;
    transition: all .3s;
}

.button:hover {
    background-color: #ffffff;
    color: #404040ff;
}

/* ----- Dialog ----- */
.dialog {
    position: fixed;
    top: calc(50vh - 12rem);
    left: 0;
    display: block;

    margin: auto;
    width: 28rem;
    height: 24rem;
    border: 0;
    border-radius: .8rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .5);

    overflow: hidden;
    padding: 0;
    background-color: #202020ff;
    color: #ffffffff;

    z-index: 10;
}

.dialog .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 2rem;

    overflow: hidden;
    background-color: #404040ff;
}

.dialog .navBar .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 2rem;

    overflow: hidden;
}

.dialog .navBar .close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    width: 3rem;
    height: 2rem;
    overflow: hidden;

    cursor: pointer
}

.dialog .navBar .close:hover {
    background-color: rgba(0, 0, 0, .2);
}

.dialog .content {
    overflow: auto;
}

@media (max-width: 769px) {
    .dialog {
        position: fixed;
        top: 8vh;
        left: 8vw;
        margin: 0;
        width: 84vw;
        height: 84vh;
    }
}

/* ----- Toggle switch ----- */
.toggle-switch {
    display: inline-flex;
    align-items: center;

    /* display: inline-block; */

    width: 52px;
    height: 26px;
    border-radius: 2em;

    background-color: #7f7f7f;
    cursor: pointer;

    transition: all .2s;
}

.toggle-switch>.span {
    position: relative;
    left: 0px;

    display: inline-block;

    height: 30px;
    width: 30px;
    border-radius: 15px;

    background-color: #fff;

    transition: all .2s;
}

.toggle-switch.on {
    background-color: #4040ffff;
}

.toggle-switch.on>.span {
    left: 22px;
}

/* ----- Notifycation ----- */
.notify {
    display: none;

    position: fixed;
    bottom: 2rem;
    right: 2rem;

    padding: 1rem 2rem;
    overflow: auto;
    background-color: #404040ff;
    color: #ffffffff;
    box-shadow: 0 0 2px 2px #00000040;

    z-index: 2;
}